In [2]:
import pathlib
import pandas as pd

In [3]:
csv_data_dir = pathlib.Path.cwd() / "ml-25m"
csv_data_dir.exists()

True

In [4]:
tags_genome = csv_data_dir / "genome-tags.csv"
movies = csv_data_dir / "movies.csv"
movie_tags = csv_data_dir / "genome-scores.csv"
links = csv_data_dir / "links.csv"
ratings = csv_data_dir / "ratings.csv"
tags = csv_data_dir / "tags.csv"

tags_genome = pd.read_csv(tags_genome)
movies = pd.read_csv(movies)
movie_tags = pd.read_csv(movie_tags)
links = pd.read_csv(links)
ratings = pd.read_csv(ratings).drop(columns=["timestamp"])
tags = pd.read_csv(tags).drop(columns=["timestamp"])

In [12]:
# Merge ratings and movies DataFrames on 'movieId' column
merged_data = pd.merge(ratings, movies, on='movieId')

# Function to create user-specific data and save it to user_data.csv
def create_user_data(user_id):
    user_specific_data = merged_data[merged_data['userId'] == user_id]
    user_specific_data.to_csv(f'user_{user_id}_data.csv', index=False)
    return user_specific_data

# Replace 'user_id' with the specific user ID you want to create data for
user_id = 2  # For example, user ID 1

# Create user-specific data and save it to user_data.csv
data = create_user_data(user_id)

In [13]:
data.head()

,userId,movieId,rating,title,genres
152300,2,1653,4.5,Gattaca (1997),Drama|Sci-Fi|Thriller
350482,2,5952,5.0,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
457446,2,6539,5.0,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy
569637,2,8360,4.0,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Ro...
601190,2,1,3.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [14]:
genre_list = ["Action",
"Adventure",
"Animation",
"Children",
"Comedy",
"Crime",
"Documentary",
"Drama",
"Fantasy",
"Film-Noir",
"Horror",
"Musical",
"Mystery",
"Romance",
"Sci-Fi",
"Thriller",
"War",
"Western",
"IMAX",
"(no genres listed)"]
genre_ids = [i for i in range(len(genre_list))]
genre_df = pd.DataFrame({"genre_id": genre_ids, "genre_name": genre_list})
genre_df.set_index("genre_id", inplace=True)
genre_df.head()

         genre_name
genre_id
0            Action
1         Adventure
2         Animation
3          Children
4            Comedy

In [16]:
tables = {
    "movies": movies,
    "genres": genre_df,
    "users": pd.DataFrame({"user_id": []}),
    "tag_options": tags_genome,
    "ratings": ratings,
    "movie_genres": pd.DataFrame({"movie_id": [], "genre_id": []}),
    "movie_tags": movie_tags,
    "tag_instances": tags,
    "user_data_2": data,
}

In [ ]:
for name, df in tables.items():
    p = csv_data_dir.parent / "processed_csvs"
    assert p.exists()
    p = p / f"{name}.csv"
    df.to_csv(p)